<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Real Time Chatbot</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- (Optional) MDB CSS -->
    <link rel="stylesheet" href="~/lib/mdb/css/mdb.min.css" />

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    <div class="container py-5">
        @RenderBody()
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- (Optional) MDB JS -->
    <script src="~/lib/mdb/js/mdb.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
