<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <li class="nav-item has-treeview @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Chat" ? "menu-open" : "")">
        <a href="#" class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Chat" ? "active" : "")">
            <i class="fas fa-comments"></i>
            <p>
                Chat History
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview" id="chatHistoryList">
            <li class="nav-item loading-history">
                <div class="nav-link">
                    <i class="fas fa-spinner fa-spin"></i>
                    <p>Loading history...</p>
                </div>
            </li>
        </ul>
    </li>
</aside>


